body {
    background-image: url(./Pictures/sunrisePic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1200px 800px;
    background-position: center;
    font-family: Square Peg;
    background-color: black;

}

header {
    position: sticky;
}

h1 {
    color: burlywood;
    text-align: center;
    font-size: 64px;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.secondBanner {
    color:black;
    text-align: center;
    background-color: burlywood;
    margin-bottom: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 183px;
    margin-left: 183.5px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#newMoodB {
    padding: 10px 10px;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}

#newMoodB:hover {
    background-color: #D3D3D3;
}

#newMoodB:active {
    transform: translateY(4px);
}