body {
    background-image: url(./Pictures/Silence2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 75rem 50rem;
    background-position: center;
    font-family: Square Peg;
    background-color: black;

}

header {
    position: sticky;
}

h1 {
    color: burlywood;
    text-align: center;
    font-size: 4rem;
    background-color: black;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    
}

.secondBanner {
    color:black;
    text-align: center;
    background-color: burlywood;
    margin-bottom: 62.5rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    margin: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#newMoodB {
    font-weight: bold;
    padding: 0.625rem 0.625rem;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}

#newMoodB:hover {
    background-color: #D3D3D3;
}

#newMoodB:active {
    transform: translateY(0.25rem);
    
}

#moodDisplay {
    color:black;
    font-weight: bold;
    font-size: 64px;
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1560px) {
#moodDisplay {
    font-size: 55px;
}
}

@media only screen and (max-width: 855px) {
    #moodDisplay {
        font-size: 45px;
    }
    }

@media only screen and (max-width: 565px) {
    #moodDisplay {
        font-size: 35px;
    }
    }

@media only screen and (max-width: 400px) {
    #moodDisplay {
        font-size: 30px;
    }
    }

@media only screen and (max-width: 320px) {
    .secondBanner {
        margin-bottom: 65.5rem;
    }
    }



/*.fade-in {
    animation: fadeIn 2s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
*/
